@model IEnumerable<GESTION.Dto.CiudadDto>

@{
    ViewBag.Title = "Index";
    
}


<div class="panel-heading">
    <h3 class="panel-title">Ciudades</h3>
    <p class="panel-subtitle">@Html.ActionLink("Create New", "Create")</p>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdDepartamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdDepartamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
